---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils/formatDate";
const {
  recentArticle: {
    data: { title, pubDate, tags, image },
    slug,
  },
} = Astro.props;

interface Props {
  recentArticle: CollectionEntry<"blog">;
}
---

<div class="relative inline-block w-full sm:w-auto cursor-pointer rounded-2xl">
  <a href={`articles/${slug}`}>
    <img
      src={`/images/${image}`}
      alt="Article Image"
      class="w-full h-auto rounded-2xl"
    />

    <div
      class="absolute inset-0 flex flex-col items-center justify-center bg-black opacity-80 hover:opacity-75 transition duration-300 ease-in-out text-white text-center rounded-2xl"
    >
      <div>
        <h2 class="text-2xl font-semibold sm:text-3xl">
          {title}
        </h2>
        <p class="text-xl mt-4">{formatDate(pubDate)}</p>

        <!-- Tags with rounded border -->
        <div class="flex mt-4 justify-center">
          {
            tags.map((tag) => (
              <span class="px-2 py-1 bg-white text-black rounded-full text-xs sm:text-sm mx-1">
                {tag}
              </span>
            ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
